<div class="row">
    <div class="col">
        <h6>CONTACT</h6>
        <address>
            <strong><%- theme.sidebar_contact_name %></strong><br>
            <%- theme.sidebar_contact_address %>
        </address>
    </div>
</div>