<div class="row">
    <div class="col">
        <h6>CONTACT</h6>
        <address>
            <span class="text-muted"><%- theme.sidebar_contact_prefix %></span>
            <strong><%- theme.sidebar_contact_name %></strong>
            <span class="text-muted"><%- theme.sidebar_contact_suffix %></span>
            <br>
            <%- theme.sidebar_contact_address %>
        </address>
    </div>
</div>