<div class="row">
    <div class="col">
        <h6>ARCHIVES</h6>
        <div class="archive">
            <%- list_archives({type: 'yearly', show_count: false, format: 'YYYY'}) %>
        </div>
    </div>
</div>