<div class="row">
    <div class="col">
      <h6>TRENDING POSTS</h6>
      <div class="trending">
        <ul>
        <% theme.trending.forEach((trend) => { %>
          <li><a href="<%- trend.path %>"><%- trend.text %></a></li>
        <% }) %>
        </ul>
      </div>
    </div>
  </div>
  