<footer>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container-fluid">
            <div class="col text-center">
                <div class="bottom-social">
                    <%- partial('_partial/_sidebar/socialmedia') %>
                </div>
                <p class="copyright text-muted">
                    Copyright &copy; <%- theme.title %>
                    <br>
                    <%- theme.footer_content %>
                    <br>
                    <a href="https://github.com/Hanlin-Dong/hexo-theme-adagio">Adagio</a> - A <a href="https://hexo.io">Hexo</a> theme made with love by
                    <a href="http://www.hanlindong.com">Hanlin Dong</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
